<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title th:text="#{screen.spnego.title}"></title>
    </head>
    <body id="cas">
        <div layout:fragment="content">
            <div class="alert alert-danger">
                <h2 th:utext="#{screen.spnego.err.header}" />
                <p th:utext="#{screen.spnego.err.message}" />
            </div>
        </div>
    </body>
</html>
